# ---- MWAA Airflow 2.7.2 / Python 3.11 ----
# Do NOT include apache-airflow itself.
# Match MWAA's internal pin for the Amazon provider:
# --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.2/constraints-3.7.txt"

# apache-airflow-providers-amazon==8.7.1

numpy==1.24.4
pandas==2.1.1
wikipedia==1.4.0
requests==2.31.0
beautifulsoup4==4.12.2
pydantic==2.7.2
psycopg2-binary==2.9.9

openai>=1.30,<2
langchain>=0.2.12
langchain-openai>=0.1.7
pinecone==6.0.0
